<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <a class="navbar-brand-group" href="/">
            <div class="brand-icon-box">
                <i class="fas fa-wallet"></i>
            </div>
            <div class="brand-text-group">
                <span class="brand-main">BP Lenders</span>
                <span class="brand-sub">Loan Management System</span>
            </div>
        </a>

        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#loanNavbar">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="loanNavbar">
            <ul class="navbar-nav ms-auto align-items-center">
                <li class="nav-item"><a class="nav-link nav-link-custom" href="#">Features</a></li>
                <li class="nav-item"><a class="nav-link nav-link-custom" href="#">Loan Types</a></li>
                <li class="nav-item"><a class="nav-link nav-link-custom" href="#">Testimonials</a></li>
                <li class="nav-item"><a class="nav-link nav-link-custom" href="#">Contact</a></li>
                
                <li class="nav-item ms-lg-4">
                    {% if user.is_authenticated %}
                        <a class="btn btn-nav-login" href="/account/logout-customer">Logout</a>
                    {% else %}
                        <a class="btn btn-nav-login" href="/account/login-customer">Login</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </div>
</nav>